.jumbotron{
    background-color:gray;
    color: white;
}
.pie-pagina{
    background-color:#363636;
    color: white;
    text-align: center;
}
.card-hotel-proyecto{
    text-align: justify;
    
}
.btn-reserva{
    width: 100%;
}
.formuB{
    width: 100%;
}
.fuente{
    text-align: justify;
}
.butn{
    width: 100%;
}