$yellow:#fffa19;
$rojo: #db3535;
$verde:#b0a7a7;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}
@mixin text ($text){
    text-align: $text;
    
}

.jumbotron{
    background-color:$rojo;
    color: white;
    @include margenes(50px,0 )
}
.pie-pagina{
    background-color:$verde;
    color: white;
    text-align: center;
}
.card-hotel-proyecto{
    @include text(justify)
    
}
.btn-reserva{
    width: 100%;
}
.formuB{
    width: 100%;
}
.fuente{
    text-align: justify;
}
.butn{
    width: 100%;
}