.jumbotron {
  background-color: #fffa19;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.pie-pagina {
  background-color: #4ed62f;
  color: white;
  text-align: center;
}
.card-hotel-proyecto {
  text-align: justify;
}
.btn-reserva {
  width: 100%;
}
.formuB {
  width: 100%;
}
.fuente {
  text-align: justify;
}
.butn {
  width: 100%;
}
