@yellow:#fffa19;
@rojo: #db3535;
@verde:#4ed62f;

.margenes(@top:0px, @bottom:0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}
.text (@text){
    text-align: @text;
    
}

.jumbotron{
    background-color: @yellow;
    color: white;
    .margenes(50px, 0px)
}
.pie-pagina{
    background-color:@verde;
    color: white;
    text-align: center;
}
.card-hotel-proyecto{
    .text(justify)
    
}
.btn-reserva{
    width: 100%;
}
.formuB{
    width: 100%;
}
.fuente{
    text-align: justify;
}
.butn{
    width: 100%;
}