.jumbotron {
  background-color: #db3535;
  color: white;
  margin-top: 50px;
  margin-bottom: 0; }

.pie-pagina {
  background-color: #b0a7a7;
  color: white;
  text-align: center; }

.card-hotel-proyecto {
  text-align: justify; }

.btn-reserva {
  width: 100%; }

.formuB {
  width: 100%; }

.fuente {
  text-align: justify; }

.butn {
  width: 100%; }
